.root {
   position: relative;
   cursor: pointer;
}

.input {
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 10px 20px;
   padding-left: 50px;
   border-radius: 20px;
   font-size: 16px;
   
   &:focus {
      border: 1px solid rgba(0, 0, 0, 0.3);
      
   }
}
.icon {
   opacity: .5;
   position: absolute;
   left: 15px;
   top: 50%;
   transform: translateY(-50%);
}

.closeIcon {
   position: absolute;
   right: 15px;
   opacity: .3;
   top: 50%;
   transform: translateY(-50%);
   
   &:hover {
      opacity: .8;
   }
}